/JavaIntro1/nbproject/private/
/JavaIntro1/build/
/Guia1/nbproject/private/
/Guia 3/nbproject/private/
/Guia 2 introduccion java/nbproject/private/
/Guia1/build/
/Guia3/nbproject/private/
/Guia3/build/
/TestFiles1/nbproject/private/
/TestFiles1/build/
/Guia 2 introduccion java/build/
/GUia 4 arreglos/nbproject/private/
/GUia 4 arreglos/build/